<p> {{profile.firstName}} {{profile.lastName}}</p>
<img src="{{profile.imageUrl}}">
<p> {{profile.email}}</p>
<p> {{profile.description}}</p>

  <button><a href="/profile/edit/{{profile._id}}">Edit</a></button>
